@tailwind components;

@layer components {
  .footer {
    @apply flex
    flex-col
    md:flex-row
    mb-36;

    &.footer_big {
      @apply bg-blue-100
      md:rounded-2xl
      -mx-4
      md:mx-0
      px-4
      md:px-8
      py-10
      items-center
      mt-10;
    }
    &.footer_small {
      @apply mt-8
      py-9
      px-8
      rounded-2xl
      bg-gray-50
      md:items-center;
    }
  }
}
